.user-info {
  text-align: center;
}

.user-info__title {
  font-size: 18px;
  line-height: 30px;
  color: rgba($text-color, .4);
  font-weight: 600;
  margin-bottom: 20px;
}

.user-info__name {
  font-weight: 800;
  font-size: 72px;
  line-height: 60px;
}

.user-info__occ {
  display: block;
  white-space: nowrap;
}