section.advantage
    .container.advantage__container
        .advantage__wrapper
            .advantage__description
                h2.advantage__title.title-section.title-section_middle Чем я могу быть полезен вам
                .advantage__content
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .advantage__widget
                #skills-component