section.fullscreen-section.hero
    .container.hero__container
        include ./header
        .hero__content
            .user-info
                h1.user-info__title Личный сайт #[span.user-info__occ веб разработчика]
                h2.user-info__name Владимир Астаханов
        .hero__downbutton
            .scroll-down
                a(href="").scroll-down__btn Скролл